.idea
mqa-metric-service.iml
.vertx
target/
src/main/generated/
logs/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
vertx-start-project.iml
data-adapter.iml
src/main/asciidoc/
